@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
.bricolage-grotesque-primary {
  font-family: "Bricolage Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  font-family: "Bricolage Grotesque", serif;
  font-size: 45px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}

span {
  color: #f05537;
}
